<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "me.MehmetArikan.Katalog"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- Standart Uygulama Verileri -->

    <name> My Library </name>

    <description>
        Ders için üretilmiş katalog kaydı uygulaması
    </description>

    <author  email="ozge.yuksek12@gmail.com">
        Özge Yüksek
    </author>
        
    <!-- Derleme Platformu -->
        
    <gap:platform name="android" />
        
    <!-- Ek Özellikler -->

    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
        
    <!-- İkon -->
     
    <icon src="icon.png" />
        
    <!-- Uygulama Hakları -->
    
    <preference name="permissions" value="none"/>
        
</widget>