
body
{
    background-image: url(page.jpg) ;
    background-size:auto;
    font-style: italic;
    text-align: center;
} 



p {margin-left: 20px ;
font-size:30px}
 h1 {color:darkred;}
h1{border-style:hidden}
            p{color:black;}
        