
body
{
    background-image: url(arka.jpg)
    font-style: italic;
    text-align: center;
} 



p {margin-left: 20px}
p {color: rosybrown}
 h1 {color:black;}
h1{border-style: groove}
            p{color: white;}
        